@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

body{
    background-image: url("../images/3.svg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	  height: 100vh;
	  margin: -10px 0 10px;
}

span {
	font-size: 14px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.google-link {
    text-decoration: none;
    font-size: 14px;
    font: bold;
    margin-top: 15px;
    margin-left: 130px;
    font: bold;
    color: rgb(0, 119, 255);
}

.google-icon {
  position: absolute;
  margin-top: 5px;
  margin-left: 105px;
  width: 18px;
  height: 18px;
}

a:hover {
    color: rgb(90, 90, 90);
  }

.lock-icon{
    box-shadow:rgba(0,0,0,0.22);
    background: transparent;
    width: 100px;
}

/* Toggle password button */
label {
  position: absolute;
  top: 300px;
  right: 30px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

i{
color: lightgrey;
position: relative;
}
.password-wrapper button:focus {
  outline: none;
}

.password-wrapper .show-password i {
  color: #ccc;
}

.password-wrapper .hide-password i {
  color: #000;
  display: none;
}

.password-wrapper .show-password.visible ~ .hide-password i {
  display: block;
}

.password-wrapper .show-password.visible ~ .show-password i {
  display: none;
}

.password-wrapper .show-password.visible ~ #password {
  padding-right: 80px;
}



.card {
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  .card-header {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }

  input[type="email"] {
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }

  input[type="text"] {
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }

  input[type="password"] {
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #269ee4;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #ff5f75;
  }

  #strength-bar {
    width: 100%;
    height: 5px;
    background-color: #ddd;
    margin-bottom: 10px;
    position: relative;
  }
  
  #strength-bar-inner {
    width: 0%;
    height: 100%;
    background-color: red;
  }
  
  #strength-bar-inner.weak {
    background-color: red;
  }
  
  #strength-bar-inner.medium {
    background-color: orange;
  }
  
  #strength-bar-inner.strong {
    background-color: green;
  }
  
  #strength-text {
    margin-bottom: 5px;
    font-size: 14px;
  }

  #strength-value.weak {
    font-size: 14px;
    font: bold;
    color: red;
  }
  
  #strength-value.medium {
    font-size: 14px;
    font: bold;
    color: orange;
  }
  
  #strength-value.strong {
    font-size: 14px;
    font: bold;
    color: green;
  }

  footer {
    background-color: #E42654;
    color: #ffffff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: rgb(255, 255, 255);
}

footer a {
    color: #ffffff;
    text-decoration: none;
}