    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Roboto", sans-serif;
      color: #444444;
    }

    body {
      min-height: 100vh;
      background-image: url("../img/3.svg");
      background-size: cover;
      background-color: whitesmoke;
      position: relative;
    }





    @media (max-width: 360px) {
      body,
      .header {
        text-align: center;
        position: relative;
        margin-top: 15%;
      }

      .wrapper{
        font-size: 14px;
        position: relative;
        margin: auto;
        width: 200px;
        padding: 30px;
      }

        .navbar{
          position: relative;
        }
        
    }

    @media screen and (max-width: 967px) {
      body,
      .header{
        font-size: 16px;
        position: relative;
        margin-top: 15%;
      }

      .wrapper{
        font-size: 14px;
        position: relative;
        margin-top: 15%;
        width: 350px;
      }
      .pass-field {
        height: 40px;
      }
    }