
.dropdown-item.active {
    background-color: #f0f0f0;
}

.dropdown-menu .dropdown-item.active {
    background-color: #2891fa;
}

.btn-group .btn {
    padding: 10px 12px;
    border-radius: 2px;
    border-bottom: 3px solid #ccc;
}

.btn-group .btn:hover {
    background-color: #e0e0e0;
}

.btn-group .btn.active {
    background-color: #4c6ef5;
    color: #fff;
    border-color: #4c6ef5;
}

 .btn-request-now {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background:  #E42654;
    outline: none;
    text-decoration: none;
  }
  
  .btn-request-now:hover {
    background:  #E42654;
    outline: none;
    text-decoration: none;
    color: #fff;
  }
  
  #description {
    font-size: 16px;
  }
  table {
  border-collapse: collapse;
  width: 50%;
}

th, td {
  padding: 2px;
  text-align: left;
}

th {
  text-align: left;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.form-row label {
  flex-basis: 120px;
  text-align: right;
  margin-right: 10px;
}

.form-row .form-control {
  flex-basis: 180px;
  width: 100%;
}

.form-row .btn-group {
  flex-basis: calc(100% - 130px); /* Adjust the value based on your preference */
}

.form-row .btn {
  width: 100%;
}

@media (max-width: 767px) {
  .form-container .form-row .btn-group {
      flex-basis: 100%;
  }
}
  @media screen and (max-width: 600px) {
    .description {
      font-size: 16px;
    }
    table {
  border-collapse: collapse;
  width: 100%;
}
  }

  @media screen and (max-width: 1100px) {
    #myChart3 {
      width: 100%;
      max-width: 1200px;
      height: 350px;
    }
    table {
  border-collapse: collapse;
  width: 100%;
}
  }

  @media screen and (max-width: 800px) {
    #myChart3 {
      max-width: 1200px;
      width: 100%;
    height: 100%;
    }
    table {
  border-collapse: collapse;
  width: 100%;
}
  }

  @media screen and (max-width: 400px) {
    .description {
      font-size: 16px;
      display: flex;
    }
    table {
  border-collapse: collapse;
  width: 100%;
}
    #myChart3 {
      max-width: 1200px;
      width: 100%;
    height: 100%;
    }
  }
      /* Add custom styles for responsiveness */
      table {
      width: 100%;
      border-collapse: collapse;
  }

  th, td {
      padding: 8px;
      text-align: left;
  }

  .avatar {
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      overflow: hidden;
  }

  .avatar img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  /* Add media queries for responsiveness */
  @media screen and (max-width: 767px) {
      /* Adjust the table layout for smaller screens */
      th, td {
          display: block;
      }

      th {
          text-align: left;
      }

      .avatar {
          margin-right: 10px;
      }

      .d-flex {
          display: flex;
          align-items: center;
      }
  }
  