.header {
    font-weight: bold;
    background-color: forestgreen;
    padding: 20px;
    color: white;
    font-family: tahoma;
    width: 100%;
}

.content-letter {
    font-size: 23px;
    color: black;
    text-align: justify;
    padding: 20px;
    max-width: 100%;
}

.title-header {
    font-size: 80px;
    color: black;
    text-align: center;
    font-weight: bold;
    text-align: justify;
}

.business {
    font-size: 23px;
    color: black;
    text-align: justify;
    margin-left: 20px;
}

.letter {
    font-size: 18px;
    color: black;
    text-align: justify;
    text-indent: 30px;
}

.signature {
    color: black;
    text-align: justify;
    font-size: 23px;
    margin-right: 40px;
}

.footer-content {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
background-color: forestgreen;
color: white;
padding: 5px;
display: flex;
justify-content: space-between;;
}
.footer-names {
display: inline-block;
font-size: 30px;
} 
.text-left {
text-align: right;  
margin-right: 2%;
margin-top: 10px;     
}

ul, ol {
list-style: none;
}   
.footer-names .fw-bold {
margin-top: 10px;
margin: 0px;
padding: 0px;
color: yellow;
}
/* Media query for laptops and computers */
@media (min-width: 992px) {
.footer-names {
    margin-bottom: 0;
}

.personal-info {
    margin-left: 150px;
}

.family-info {
    margin-left: 100px;
}
}

/* Media query for phones */
@media (max-width: 767px) {
.footer-content {
    flex-direction: column;
}

.footer-names {
    margin-bottom: 20px;
}

.personal-info,
.family-info {
    margin-left: 0;
}
}

@media print {
    /* Common styles for all paper sizes (e.g., margins, font sizes, etc.) */
    body { margin: 0; padding: 0; }

    /* Legal size (8.5x14 inches) */
    @page {
        size: legal;
    }

    /* Letter size (8.5x11 inches) */
    @page {
        size: letter;
    }

    /* A4 size (210x297 mm) */
    @page {
        size: A4;
    }

    /* Adjustments for header and footer */
    .header, .footer-content {
        margin: 0;
        padding: 0;
    }
}